table {
  width: 100%;
  border-collapse: collapse;
}

thead{
  background-color: #d6cccc;
  border: 1.75px solid #020000;
}

th, td {
  border: 1.75px solid #020000;
  padding: 8px;
  text-align: center;
  font-family: sans-serif;
}

th {
  background-color: #d6cccc;
  border: 1.75px solid #020000;
}

input[type="number"] {
  width: 80px;
  padding: 5px;
  border: 1.75px solid #000000;
  border-radius: 5px;
  text-align: center;
}

th {
  background-color: #d6cccc;
}

.container {
  width: 100%; 
  text-align: center;
  background-color: var(--color-black);
}

h1, button,
#simulate {
  text-align: center;
  font-family: sans-serif;
}

button{
  align-self: center;
  margin-top: 40px;
  margin-left: 300px;
  cursor: pointer;
  left: 100px;
  width: 160px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #d6cccc;
  font-family: Secular One;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.left_panel {
  display: grid;
  width: 40%;
  height: 1vh; /* 100% of viewport height */
  margin: 0;
  float: left;
  padding: 0;
  margin-top: 30px;
  margin-left: 5%;
} 

.right_panel{
  float: right;
  width: 45%;
  margin-top: 2.2%;
  margin-right: 5%;
}

.percent{
  display: flex;
  flex-direction: row;
}